.image-div{
    background-color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translatey(20px); }
    to { opacity: 1; transform: translatey(0); }
  }
  
  .animated-card {
    animation-name: fadeIn;
    animation-duration: 1s; /* o el tiempo que desees para la animación */
    animation-fill-mode: both; /* Mantén los valores del último fotograma cuando la animación termine */
  }