.image-div{
    background-color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translatey(20px); }
    to { opacity: 1; transform: translatey(0); }
  }
  
  .animated-card {
    animation-name: fadeIn;
    animation-duration: 1s; 
    animation-fill-mode: both; 
  }

.input-group{
  width: 20vw;
}
@media (max-width: 890px) {
  .input-group{
    width: 55vw;
  }
  #chartContainer{
    display: none;
  }
  .logoName{
    display: none;
  }
  .buscadorDiv{
    padding: 0px 0px 0px 15px;
  }
}

.cards-p{
  font-size: small;
  padding: 25px 25px 25px 25px;
}